.vscode/**
src/**
test/**
tsconfig.json
*.vsix
dist/**
**/*.map
apps/**
dev.sh
build-and-install.sh
quick-install.sh
media/*.prev.png
media/*.pre-*.png
.gitignore
.vscodeignore
RELEASE_PLAN.md
media/dom.js
media/connectors.js
media/script.js
media/style.css
media/webview-entry.js
media/editor.worker.entry.js
